@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #212529;
  line-height: 1.5;
  background-image: url(img/dalamburjo.jpg);
  padding-top: 50px;
  /* background-color: red; */
}

.menu {
  height: fit-content;
}

/* A. Header */
/* header -> Title */
.title h1 {
  font-size: 86px;
  text-align: center;
  padding: 20px;
  color: yellow;
}

/* header -> title -> p */
.title p {
  font-size: 36px;
  text-align: center;
  color: blue;
  font-weight: 500;
}

/* B. Main */
main {
  margin-top: 20px;
  background-color: yellow;
}

/* Main -> .makanan -> h2 */
.makanan h2 {
  font-size: 24px;
  text-align: center;
  color: black;
}

.menu {
  width: 80%;
  background-color: red;
  margin-left: auto;
  margin-right: auto;
}

.makanan {
  padding: 20px;
}

.item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: #212529 1px;
}

.food {
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  width: 75%;
}

.price {
  text-align: right;
  width: 25%;
  font-size: 16px;
  font-weight: bold;
}

/* minuman */
.minuman {
  background-color: green;
  padding: 20px;
  color: white;
}

.minuman h2 {
  text-align: center;
  margin-top: 20px;
}
